AWS_S3_BUCKET=<YOUR_AWS_S3_BUCKET_HERE>
AWS_S3_BUCKET_PREFIX=<YOUR_AWS_S3_BUCKET_PREFIX_HERE>
LAST_POLLIFIED=2023-09-15T00:00:00
TABLE_NAME=<YOUR_TABLE_NAME_HERE>
ID_COLUMN=<YOUR_ID_COLUMN_HERE>
LAST_UPDATED_COLUMN=l<YOUR_LAST_UPDATED_COLUMN_HERE>
TEXT_COLUMN=<YOUR_TEXT_COLUMN_HERE>
