LOCAL_PORT=<YOUR_LOCAL_PORT_HERE>
DATABASE_HOST=<YOUR_DATABASE_HOST_HERE>
DATABASE_PORT=<YOUR_DATABASE_PORT_HERE>
SSH_USERNAME=<YOUR_SSH_USERNAME_HERE>
SSH_HOST=<YOUR_SSH_HOST_HERE>
PATH_TO_SSH_PRIVATE_KEY=<YOUR_PATH_TO_SSH_PRIVATE_KEY_HERE>
